<?xml version='1.0' encoding='UTF-8'?> 
<!DOCTYPE hibernate-configuration PUBLIC 
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--数据库方言信息 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 
			<property name="connection.username">root</property>
			<property name="connection.url">jdbc:mysql://localhost/ssh</property>
			<property name="connection.password">2011180062</property>
			<property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
		-->
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 关闭JEE6的验证，不然会出现错误 -->
		<property name="javax.persistence.validation.mode">none</property>
		<mapping resource="cn/jl/test/model/Category.hbm.xml" />
	</session-factory>
</hibernate-configuration>       